#certificate_list>li {
    background-color: white;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #c3c3c3;
}

#certificate_list li b {
    display: inline-block;
    width: 60px;
    margin: 0px 5px 0px 0px;
}