#contact_list li {
    display: inline-block;
    background-color: white;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    padding: 5px 10px  5px 5px;
  }
  
  #contact_list li a {
    color: black;
  }