.majors {
    list-style: none;
}

.major-type {
    display: inline-block;
    width: 80px;
}

.major-name {
    display: inline-block;
    width: 280px;
}

.major-date {
    display: inline-block;
    font-size: small;
    color: gray;
}