.result {
    margin-bottom: 5px;
}

.title>a {
    font-family: TheJamsil5Bold;
}

.project-card:hover {
    visibility: visible;
    cursor: pointer;
}

.description {
    text-align: center;
    width: 100%;
    color: #1e90ff;
    border: none;
    background: none;
}

.float-left {
    float: right;
    text-align: right;
}

.float-left>div {
    font-size: small;
    display: block;
    width: 250px;
}

.summary {
    margin-top: 10px;
    line-height: 1.3;
}

.card-list {
    margin: 3px 0px;
    font-size: small;
}

.card-list>li {
    display: inline-block;
    list-style: none;
    background-color: aliceblue;
    color: dodgerblue;
    border-radius: 5px;
    padding: 2px;
    margin: 3px;
}

.role {
    color: dodgerblue;
}

.trouble {
    color: brown;
}

.trouble-list li::marker {
    color: brown;
}

.trouble-list>li:not(:first-child),
.role-list>li {
    margin-top: 5px;
}

.trouble-title {
    color: brown;
}

.role-detail,
.trouble-detail,
.result {
    font-size: small;
}

.category {
    margin: 0px;
    display: block;
    margin-bottom: 5px;
}

.category>li {
    border: none;
    background-color: dodgerblue;
    color: white;
}