.bookmark {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
    height: 1px;
}

b {
    color: #6495ed;
}

h1,
h2,
.middle-title {
    color: darkblue;
    display: block;
    font-family: yg-jalnan, sans-serif;
    font-weight: 100;
}

h1,
h3 {
    color: #1f8fff;
    margin-right: 5px;
}

h2 {
    margin-bottom: 5px;
}

h3 {
    font-family: TheJamsil5Bold, sans-serif;
    margin-bottom: 5px;
}

li::marker {
    color: #6495ed;
    font-weight: bold;
}

div>b,
p>b {
    display: inline-block;
}

.inline>a {
    text-decoration: none;
}


.inline-list>li {
    list-style: none;
    margin-bottom: 5px;
}

.inline-card {
    background-color: white;
    border: solid 1px #6495ed;
    border-radius: 10px;
    padding: 13px;
}


.mini-list {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.mini-list>li {
    display: inline-block;
    list-style: none;
    margin: 0px 2px 3px 2px;
}


.mini-card {
    background-color: white;
    width: 360px;
    height: 40px;
    border: solid 1px #6495ed;
    border-radius: 10px;
    padding: 15px;
    text-align: start;
}

.date {
    color: #6495ed;
    float: right;
    margin-bottom: 4px;
    font-size: small;
}

.mul-line-list {
    margin: 5px 0px 5px 20px;
}

.list-title {
    margin: 5px;
    font-family: TheJamsil5Bold;
}

.mul-line-list li {
    list-style-position: inside;
    list-style-type: square;
    text-indent: -20px;
    margin-bottom: 3px;
}

.title {
    display: inline-block;
}

.mid-title {
    display: block;
}

.agency {
    display: block;
    font-size: small;
    margin-top: 5px;
}