.bookmark {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
    height: 1px;
}


b {
    color: cornflowerblue;
}


h1,
h2 {
    color: darkblue;
    display: block;
    font-family: yg-jalnan, sans-serif;
    font-weight: 100;
}

h1,
h3 {
    color: dodgerblue;
    margin: 0px 20px 10px 0px;
}

h2 {
    margin: 0px 10px;
}

h3 {
    font-family: TheJamsil5Bold, sans-serif;
}

li::marker {
    color: #6495ed;
    font-weight: bold;
}

div>b,
p>b {
    display: inline-block;
    width: 50px;
    height: 20px;
    margin: 5px 0;
}

.inline>a {
    text-decoration: none;
}


.inline-list>li {
    list-style: none;
    margin: 20px 0;
}

.inline-card {
    background-color: white;
    border: solid 2px #6495ed;
    border-radius: 10px;
    padding: 20px;
}


.mini-list {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.mini-list>li {
    display: inline-block;
    list-style: none;
    margin: 3px 2px 3px 2px;
}


.mini-card {
    background-color: white;
    width: 350px;
    height: 50px;
    border: solid 2px #6495ed;
    border-radius: 10px;
    padding: 20px;
    text-align: start;
}

.mini-card>h3 {
    display: inline-block;
}

.date {
    color: #6495ed;
    float: right;
}

.inline-card:hover,
.mini-card:hover {
    box-shadow: 0 0 5px #aaa;
}

.mul-line-list {
    margin: 0px 0px 10px 20px;
}

.mul-line-list li,
.mul-line-list li a {
    list-style-position: inside;
    list-style-type: square;
    text-indent: -20px;
    margin: 11px 0;
}

.mul-line-list li a {
    text-decoration: none;
}

.mid-title {
    width: 100%;
    margin-bottom: 10px;
}