.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: #6495ed;
    box-shadow: 0 0 10px #aaa;
    z-index: 10;
}

.navbar ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.navbar li {
    display: inline-block;
    list-style: none;
    padding: 15px;
    height: 100%;
}

.navbar li:hover {
    background-color: aliceblue;
}


.navbar li>a {
    color: white;
    text-decoration: none;
}

.navbar li:hover>a {

    color: dodgerblue;
}

.pdf {
    float: right;
    padding: 5px;
    margin-top: 10px;
    margin-right: 40px;
    border: solid 2px dodgerblue;
    border-radius: 5px;
    background-color: aliceblue;
    color: dodgerblue;
    height: 80%;
}

.pdf:hover {
    background-color: dodgerblue;
    color: aliceblue;
}