.contact {
    background-color: white;
    border-radius: 30px;
    margin-bottom: 20px;
}

#info-box {
    vertical-align: top;
    display: inline-block;
    margin: 10px 0px 10px 20px;
    /* width: 530px; */
}

#info-box>h1 {
    margin-right: 20px;
    margin-bottom: 5px;
    display: inline-block;
}

#introduce {
    margin-bottom: 10px;
}

#img-box {
    display: inline-block;
    margin: 20px;
}

#my-img {
    height: 180px;
    border-radius: 50%;
}

#info-box>.contact-list {
    display: inline-block;
}

.contact-list>li {
    display: inline-block;
    list-style: none;
    margin: 5px 5px;
}

.contact-list>li>a {
    text-decoration: none;
}

.skill-list {
    list-style-type: none;
}

.skill-list>li {
    display: inline-block;
    width: 500px;
}

.skill-list>li>b {
    font-size: small;
    color: dodgerblue;
    display: inline-block;
    width: 60px;
}

.skill-list .card-list {
    margin: 0px;
}

.icon:hover * {
    fill: dodgerblue;
}

#myRule {
    margin-top: 10px;
    margin-left: 20px;
}

#myRule>li {
    margin: 3px;
}