.contact {
    background-color: white;
    border-radius: 30px;
    margin-bottom: 20px;
}

#introduce {
    margin-bottom: 20px;
}

#introduce>b {
    display: inline;
}

#img-box {
    display: inline-block;
    margin: 30px;
}

#my-img {
    height: 200px;
    border-radius: 50%;
    border: solid 5px cornflowerblue;
}

#info-box {
    vertical-align: top;
    display: inline-block;
    margin: 30px 0px 0px 20px;
    width: 500px;
}

#info-box h1 {
    margin: 0px 0px 10px 0px;
}

.contact-list li {
    list-style: none;
    margin: 5px 0px;
}

.contact-list li a {
    text-decoration: none;
}

.contact-list li:hover a {
    color: cornflowerblue;
}