body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 500;
  /* font-style: normal; */
}

@font-face {
  font-family: 'TheJamsil2Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil2Light.woff2') format('woff2');
  font-weight: 100;
  /* font-style: normal; */
}

* {
  padding: 0px;
  margin: 0px;
  font-family: TheJamsil2Light, sans-serif;
  color: darkslategrey;
}

html {
  background-color: aliceblue;
}

.contanier {
  display: block;
  margin: 30px auto;
  padding: 20px;
  padding-top: 50px;
  width: 800px;
  border-radius: 50px;
}

@media print {
  .navbar {
    display: none;
  }

  html {
    background: none;
  }

  .contanier {
    margin-top: 0px;
    padding-top: 20px;
  }

  .inline-card,
  .mini-card {
    border: none;
  }

  .description {
    display: none;
  }

  .projects>div>.inline-list>li:not(:first-of-type),
  #resume>*:not(.projects) {
    break-inside: avoid;
  }

  .inline-list>li {
    margin-top: 0;
  }
}